block variables
    - var answer = "Hello, Hanter!"

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    //- link(rel='stylesheet' type='text/css' href='../dist/main.css')
    title Webpack-test
  body
    script(src='../dist/main.js')
    p #{answer}